HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Chặn thư mục thư viện của React
frontend/node_modules/

# Chặn thư mục build của React
frontend/dist/

# Chặn thư mục build của Spring Boot
target/

# Chặn file cấu hình IDE cá nhân (nếu chưa có)
.idea/
*.class

# Chặn cấu hình local và biến môi trường
application-secrets.yml
application-local.yml
.env
frontend/.env